<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container">
  <div class="row pt-7 flex-wrap">
    <div class="col-lg-9 text-left">

      <div class="p-4 pt-5">
        <h1 id="main-text" class="display-5 mb-5"> <%= t("landing.welcome_html") %></h1>
        <div class="mb-4"></div>
        <div class="d-inline-block mb-4">
          <ul class="d-inline-block text-left font-125 font-thm-red custom-bbb-info-ul">
            <% t('landing.body.bullets').each do |item| %>
              <li><%= item[:text] %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-3 text-right d-none d-lg-block">
      <div class="h-100 hidden-sm custom-bbb-info-field">
        <img class="w-100" src="/b/bbb-logo.png" alt="BigBlueButton Logo">
        <a href="https://bigbluebutton.org/teachers/" target="_blank" class="btn btn-secondary btn-block signin-button w-100 m-auto"><%= t("bbb_feat_link") %></a>
        <a href="https://bigbluebutton.org/html5/" target="_blank" class="btn btn-secondary btn-block signin-button w-100 m-0"><%= t("bbb_tut_link") %></a>
      </div>
    </div>

  </div>

  <div class="row pt-4 flex-wrap">
    <div class="col-lg-6 text-center my-5">

      <div class="card background p-4 border-thm-red h-100">
        <h2 class="mb-4">
          <%= t("landing.has_id.title") %>
          <br />
          <small><%= t("landing.has_id.sub_title") %></small>
        </h2>
        <input id="meeting-id-input" placeholder="<%= t("landing.has_id.placeholder") %>" class="form-control w-100 m-auto text-center" type="text" onkeypress="if (event.keyCode == 13) window.location.href = '/b/' +  document.getElementById('meeting-id-input').value;">
        <div class="mt-2">
          <input onclick="window.location.href = '/b/' +  document.getElementById('meeting-id-input').value;" type="submit" value="<%= t("landing.has_id.action") %>" class="btn btn-primary btn-block signin-button w-100 m-auto">
        </div>
      </div>

    </div>
    <div class="col-lg-6 text-center my-5">

      <div class="card background p-4 border-thm-red h-100">
        <h2 class="mb-4">
          <%= t("landing.create_room.title") %>
          <br />
          <small><%= t("landing.create_room.action") %></small>
        </h2>

        <% allow_greenlight_accounts = allow_greenlight_accounts? %>
        <% if allow_greenlight_accounts %>
          <%= link_to t("login_with_thm"), signin_path, :class => "btn btn-primary btn-block signin-button w-100 mt-auto" %>
        <% elsif Rails.configuration.loadbalanced_configuration %>
          <%= link_to t("login_with_thm"), omniauth_login_url(:bn_launcher), :class => "btn btn-primary btn-block signin-button w-100 mt-auto" %>
        <% else %>
          <%= link_to t("login_with_thm"), signin_path, :class => "btn btn-primary btn-block signin-button w-100 mt-auto" %>
        <% end %>
      </div>

    </div>

  </div>

</div>

<%=
# render "main/components/features"
%>
