<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<footer class="footer pt-3">
  <p class="text-center mb-1">
      <a href="https://www.thm.de/site/impressum.html" target="_blank" rel="noopener">
          <%= t("footer.imprint") %>
      </a>
      &nbsp;&middot;&nbsp;
      <a href="https://www.thm.de/site/datenschutz.html" target="_blank" rel="noopener">
          <%= t("footer.privacy") %>
      </a>
      &nbsp;&middot;&nbsp;
      Powered by
      <a href="https://github.com/bigbluebutton/greenlight" target="_blank" rel="noopener">
          <%= t("greenlight") %>
      </a>
      &nbsp;&middot;&nbsp;
      Branch
      <a href="https://git.thm.de/arsnova/custom-greenlight" target="_blank" rel="noopener">
          <%= Greenlight::Application::VERSION %>
      </a>
  </p>
</footer>

<%= render "shared/components/cookie_warning" %>
